<md-list>

    <md-list-item aria-label="Movie" ng-click="$ctrl.details(movie)" class="noright" ng-repeat="movie in $ctrl.movies">
        <md-icon><ng-md-icon icon="insert_drive_file"></ng-md-icon></md-icon>

        <p> {{movie.title}} </p>

        <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit(movie)" >
            <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
        </md-button>

        <md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete(movie)" >
            <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
        </md-button>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
    <md-divider></md-divider>

</md-list>
<md-button class="md-fab md-fab-bottom-right md-ink-ripple" aria-label="New Movie" ng-click="$ctrl.newMovie()">
    <md-icon><ng-md-icon icon="add"></ng-md-icon></md-icon>
</md-button>


