<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="$ctrl.goHome()" >
            <md-icon><ng-md-icon icon="grain" ></ng-md-icon></md-icon>
        </md-button>
        <h2>Movie Application</h2>

        <span flex></span>

        <span flex="5"></span>
        <md-button class="md-icon-button" aria-label="More" ng-click="$ctrl.goLogin()" >
            <md-icon><ng-md-icon icon="more_vert" ></ng-md-icon></md-icon>
        </md-button>
    </div>
</md-toolbar>